@model IEnumerable<SqlServerDocumentator.DocumentedDatabaseObjects.DocumentedServer>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Servers</h2>

<div class="servers">
    @foreach (var item in Model)
    {
        <documented-server :name="'@item.Name'" :description="'@item.Description'" :display-name="'@item.DisplayName'" :url="'@Url.Action("Index", "Database", new { serverName = item.Name })'"></documented-server><hr />
    }
</div>